<%- include("./partials/head") %> <%- include("./partials/nav") %>

<div class="chat-body">
  <div class="banned-message">
    <h1>Access Denied</h1>
    <div class="hammer-wrap">
      <img src="/hammer.png" alt="Ban Hammer" class="hammer" />
    </div>
    <p>Sorry, <%= username %>, you've been banned from Socketumi IM.</p>
    <p>If you think this is a mistake, think again. It's not. Do better.</p>
  </div>
</div>

<%- include("./partials/footer") %>
